@{
    ViewData["Title"] = "Home";
}

<div>
    <h1>Chris Wood</h1>
    <p class="lead">Just a personal collection of games and programming projects I've made, enjoy!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="border border-dark mb-3">
            <div class="card">
                <h3 class="card-header">Project Sicarius</h3>
                <div class="card-body">
                    <span class="badge badge-dark">Game</span>
                    <span class="badge badge-dark">C#</span>
                    <span class="badge badge-dark">Unity</span>
                    <span class="badge badge-dark">Web GL</span>
                    <h5 class="card-subtitle text-muted">A 2D WebGL game made in Unity</h5>
                </div>
                @* image of game here *@
                <div class="card-body">
                    <p class="card-text">Play as an angel who has to take out the invading demons</p>
                    <a class="btn btn-primary" href="https://chriswood.blob.core.windows.net/project-sicarius/index.html" target="_blank">Play</a>
                    <a class="btn btn-info" href="https://github.com/ChrisWoody/project-sicarius" target="_blank">View Source Code</a>
                </div>
            </div>
        </div>
    </div>
</div>