@{
    ViewBag.Title = "Project Grimaldus";
    Layout = "_Layout";
}

<p></p>
<h2>Project Grimaldus</h2>
<p>View the code on <a target="_blank" href="https://github.com/ChrisWoody/project-grimaldus">GitHub!</a></p>
<h4>Why did I make this website?</h4>
<p>I've wanted to have my own website for a while not just to showcase projects I've worked on, but to just <b>learn</b> more. Whether it be website tech itself (js, html, css, react, mvc etc) or playing around with the CI/CD process, to learning something entirely new and use the website to 'show off' what I've done.</p>
<h3>ASPNET Core</h3>
<p>The website was always going to be running off some version of ASP.NET as I'm familiar with C# and .NET, and with 'Core' available, why not use the latest and greatest?</p>
<h3>Appveyor</h3>
<p>Again just something I'm currently familiar with, over time I intend to try similar provdiers (i.e. Travis, GitLab CI, etc) to <b>learn</b> more.<br />
The pipeline is pretty straightforward, build the website, create a self-contained deployment then deploy via Web Deploy.</p>
<h3>asphostportal</h3>
<p>I struggled to find any web hosts that supported ASP.NET Core for a decent price, with the support for Core limited to a self-contained deployment (more info <a target="_blank" href="http://faq.asphosthelpdesk.com/article.php?id=313">here</a>), which seemed a little odd but does appear to run quite well.</p>
<h3>Let's Encrypt</h3>
<p>The website is HTTPS only. And though I could have purchased a certificate they are often $100 or so a year, which is where Let's Encrypt comes in. Basically you can generate a valid certificate for your website for free, though you need to manually renew it every 3 months.<br/>
I used <a target="_blank" href="https://www.sslforfree.com">sslforfree</a> following <a target="_blank" href="http://faq.asphosthelpdesk.com/article.php?id=314">this</a> and <a target="_blank" href="https://support.plesk.com/hc/en-us/articles/115002122374-Failed-to-issue-a-Let-s-Encrypt-certificate-in-Plesk-404-Not-Found">this</a> to get things setup for ASP.NET Core.</p>