@{
    ViewBag.Title = "Project naming";
    Layout = "_Layout";
}

<p></p>
<h2>Project Naming</h2>
<p>
    I've liked Warhammer 40K for a while, and it was the video games that got me into it (Dawn of War series, Fire Warrior, Space Marine to name a few).
    Around the time I was starting to read books, I learnt that there was also Warhammer books (only knew of the video games and models). A quick Google and I came across <a href="https://www.blacklibrary.com" target="_blank">Black Library</a>
    and I was blown away by this whole other side of Warhammer I wasn't aware of, and with thousands of books to read, where do I even start?
    I came across a series of books called <a href="http://wh40k.lexicanum.com/wiki/Space_Marine_Battles_(Novel_Series)" target="_blank">Space Marine Battles</a> which were set in 40K times that spanned a mixture of locations and legions so I went with that.
</p>
<p>    
    So as a bit of a nod to the books that got me more into reading, I thought I could incorporate them into the programming projects I take on by naming them from the the main or most important character in the book.
</p>
<h4>Kantor</h4>
<p>
    <b>Status: </b><span class="badge badge-warning">WIP</span><br />
    <b>Project info:</b> shh it's a secret!<br />
    <b>Book:</b> Rynn's World<br />
    <b>Character:</b> Pedro Kantor - Chapter Master of the Crimson Fists chapter
</p>

<h4>Grimaldus</h4>
<p>
    <b>Status: </b><span class="badge badge-success">Ongoing</span><br />
    <b>Project info:</b> it's this website! More info <a href="/Projects/ProjectGrimaldus">here</a><br />
    <b>Book:</b> Helsreach<br />
    <b>Character:</b> Merek Grimaldus - Reclusiarch of the Black Templars chapter
</p>

<h4>Khan</h4>
<p>
    <b>Status: </b><span class="badge badge-warning">WIP</span><br />
    <b>Project info:</b> shh it's a secret!<br />
    <b>Book:</b> Hunt for Voldorius<br />
    <b>Character:</b> Kor'sarro Khan - Master of the Hunt, Captain of the White Scars' 3rd company
</p>

<h4>Belial</h4>
<p>
    <b>Status: </b><span class="badge badge-warning">WIP</span><br />
    <b>Project info:</b> shh it's a secret!<br/>
    <b>Book:</b> The Purging of Kadillus<br/>
    <b>Character:</b> Belial - Grand Master of the Deathwing, Captain of the Dark Angels' 1st company
</p>

<h4>Sicarius</h4>
<p>
    <b>Status: </b><span class="badge badge-success">Done</span><br />
    <b>Project info:</b> a 2D video game in WebGL made with Unity. Play the game <a href="https://chriswood.blob.core.windows.net/project-sicarius/index.html" target="_blank">here</a><br />
    <b>Book:</b> Fall of Damnos<br />
    <b>Character:</b> Cato Sicarius - Captain of the Ultramarines' 2nd company
</p>